<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title></title>
        {% stylesheets
        'bundles/chapleansocialbuttons/libs/font-awesome/css/font-awesome.min.css'
        'bundles/chapleansocialbuttons/libs/bootstrap-social/bootstrap-social.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}

        {% stylesheets
        '@ChapleanSocialButtonsBundle/Resources/public/sass/*' filter='compass' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>

    <body>
    {% block content %}

        {{ twitterButton() }}

        {{ facebookButton() }}

        {{ googlePlusButton() }}

        {{ linkedInButton() }}

        {{ pinterestButton() }}
    {% endblock %}
    </body>
</html>